git+https://github.com/RemotelyGreenOrg/video-conf-calculator.git#egg=vc_calculator
aiofiles==0.8.0
alembic==1.7.6
asgiref==3.4.1
black==21.12b0
click==8.0.3
colorama==0.4.4
fastapi==0.64.0
h11==0.12.0
httptools==0.3.0
Jinja2==3.0.3
MarkupSafe==2.0.1
psycopg2-binary==2.9.3
pydantic==1.9.0
pyproj==3.3.0
python-dotenv==0.19.2
python-multipart==0.0.5
PyYAML==6.0
reverse-geocoder==1.5.1
six==1.16.0
starlette==0.13.6
sqlalchemy==1.4.31
typing_extensions==4.0.1
uvicorn==0.16.0
watchgod==0.7
websockets==10.1
