<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;," />
  </head>
  <body>
    <h1>WebSocket Chat</h1>
    <form action="" onsubmit="sendMessage(event)">
      <input type="text" id="messageText" autocomplete="off" />
      <button>Send</button>
    </form>
    <ul id="messages"></ul>
    <script>
      const ws = new WebSocket("{{websocket_endpoint}}");
      ws.onmessage = function (event) {
        const messages = document.getElementById("messages");
        const message = document.createElement("li");
        const content = document.createTextNode(event.data);
        message.appendChild(content);
        messages.appendChild(message);
      };
      function sendMessage(event) {
        const input = document.getElementById("messageText");
        ws.send(input.value);
        input.value = "";
        event.preventDefault();
      }
    </script>
  </body>
</html>
